[submodule "decoder/lib/libft"]
	path = decoder/lib/libft
	url = https://github.com/jussihyva/libft.git
[submodule "decoder/lib/libftprintf"]
	path = decoder/lib/libftprintf
	url = https://github.com/jussihyva/ft_printf.git
