{%extends "layout.html" %}

{% block content %}
<div>
	<div class="ui pointing inverted orange menu">
		<a id="selected_tab_country" class="active item">Countries</a>
		<a id="selected_tab_mmsi" class="item">MMSI list</a>
	</div>
</div>
<div style="border-style: hidden;" class="ui segments">
	<div class="ui segment">
		<label style="font-weight: bold;">Select time period:</label>
		<select id="time_period" size="1">
			<option selected="selected" value="900">Last 15 min</option>
			<option value="3600">Last hour</option>
			<option value="86400">Last day</option>
			<option value="604800">Last 7 days</option>
		</select>
	</div>
</div>
<div id="country_table">
	{% include "table_country.html" %}
</div>

<div class="ui segments">
	<div class="ui horizontal segments">
		<div style="text-align: center;" class="ui inverted green segment">
			<p>AIS message statistics</p>
		</div>
		<div style="text-align: right;" class="ui inverted green segment">
			<!--			Connection: <i class="thumbs up icon"></i> -->
		</div>
	</div>
	<div class="ui horizontal segments">
		<div style="text-align: center;" class="ui inverted green segment">
			<p>Message 1</p>
		</div>
		<div style="text-align: center;" class="ui inverted green segment">
			<p>Message 2</p>
		</div>
		<div style="text-align: center;" class="ui inverted green segment">
			<p>Message 3</p>
		</div>
			</div>
	<div id="message_statistics_table" class="ui horizontal segments">
		{% include "table_message_statistics.html" %}
	</div>
</div>
{% endblock %}