<table class="ui celled inverted blue table">
	<thead>
		<tr style="text-align: center;" ><th colspan="3">
			Vessels (with AIS sender) in Turku harbour area.
		</th>
		<tr>
			<th><a class="header-link" href="https://en.wikipedia.org/wiki/Maritime_identification_digits" target="_blank">MID code (MMSI)</a></th>
			<th>Country</th>
			<th>Number of vessels</th>
		</tr>
	</thead>
	<tbody>
		{% for country in country_data_list %}
		<tr>
			<td>{{ country.mid }}</td>
			<td>{{ country.country_name }}</td>
			<td>{{ country.num_of_mmsi }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
