<table class="ui celled inverted blue table">
	<thead>
		<tr style="text-align: center;" ><th colspan="3">
			Vessels (with AIS sender) in Turku harbour area.
		</th>
		<tr>
			<th><a style="color: white;" href="https://www.myshiptracking.com/" target="_blank">MMSI</a></th>
			<th>Vessel name</th>
			<th>Info 1</th>
			<th>Info 2</th>
		</tr>
	</thead>
	<tbody>
		{% for c in country %}
		<tr>
			<td>{{ c.mmsi_mid }}</td>
			<td>{{ c.country }}</td>
			<td>{{ c.comment }}</td>
			<td>{{ c.comment }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
