{%extends "layout.html" %}

{% block content %}
<div class="ui form">
	<div class="grouped fields">
		<label>Select time period:</label>
	  	<div class="field">
			<div class="ui radio checkbox">
		 		 <input type="radio" name="example2" checked="checked">
		 		 <label>Last 15 min</label>
			</div>
		</div>
	  	<div class="field">
			<div class="ui radio checkbox">
				<input type="radio" name="example2">
				<label>Last hour</label>
			</div>
		</div>
		<div class="field">
			<div class="ui radio checkbox">
				<input type="radio" name="example2">
				<label>Last day</label>
			</div>
		</div>
		<div class="field">
			<div class="ui radio checkbox">
				<input type="radio" name="example2">
				<label>Last week</label>
			</div>
		</div>
	</div>
</div>
<table class="ui celled table">
	<thead>
	  <tr><th>Country code</th>
	  <th>Country</th>
	  <th>----</th>
	</tr></thead>
	<tbody>
	  <tr>
		<td data-label="Name">--</td>
		<td data-label="Age">--</td>
		<td data-label="Job">--</td>
	  </tr>
	  <tr>
		<td data-label="Name">--</td>
		<td data-label="Age">--</td>
		<td data-label="Job">--</td>
	  </tr>
	  <tr>
		<td data-label="Name">--</td>
		<td data-label="Age">--</td>
		<td data-label="Job">--</td>
	  </tr>
	</tbody>
  </table>
{% endblock %}




array[201] =	ft_strdup("Albania (Republic of)");
202	Andorra (Principality of)
203	Austria
204	Azores
205	Belgium
206	Belarus (Republic of)
207	Bulgaria (Republic of)
208	Vatican City State
209, 210	Cyprus (Republic of)
211	Germany (Federal Republic of)
212	Cyprus (Republic of)
213	Georgia
214	Moldova (Republic of)
215	Malta
