{%extends "layout.html" %}

{% block content %}
<script>
	$(document).ready(function()
	{
		setInterval(function() {update_page();}, 10000);
		$("#add_mmsi_mid").click(function() {$('#ui_modal').modal('show');});
		$("#save").click(function(){
			let mmsi_mid = $("#mmsi_mid").val();
			let mmsi_mid_list = mmsi_mid.split("\n");
			for (var i = 0; i < mmsi_mid_list.length;  ++i)
			{
				$.ajax(
				{
					url: "/country",
					type: "POST",
					contentType: "application/json",
					data:  JSON.stringify({"symbol": mmsi_mid_list[i]}),
					dataType: "json"
				})
			}
			$('#ui_modal').modal('dispose');
		});
	});
	function update_page()
	{
		$.ajax(
			{
				url: "/",
				type: "GET",
				success: function(data, status)
				{
					document.getElementById("html").innerHTML = data
				}
			})
	}
</script>
<div class="ui form">
	<div class="grouped fields">
		<label>Select time period:</label>
	  	<div class="field">
			<div class="ui radio checkbox">
		 		 <input type="radio" name="example2" checked="checked">
		 		 <label>Last 15 min</label>
			</div>
		</div>
	  	<div class="field">
			<div class="ui radio checkbox">
				<input type="radio" name="example2">
				<label>Last hour</label>
			</div>
		</div>
		<div class="field">
			<div class="ui radio checkbox">
				<input type="radio" name="example2">
				<label>Last day</label>
			</div>
		</div>
		<div class="field">
			<div class="ui radio checkbox">
				<input type="radio" name="example2">
				<label>Last week</label>
			</div>
		</div>
	</div>
</div>

<div>
	<button id="add_mmsi_mid" class="ui button">
		Add MMSI_MID codes
	</button>
</div>

<table class="ui celled table">
	<thead>
	  <tr><th>MMSI MID code</th>
	  <th>Country</th>
	  <th>Comments</th>
	</tr></thead>
	<tbody>
		{% for c in country %}
		<tr>
			<td>{{ c.mmsi_mid }}</td>
			<td>{{ c.country }}</td>
			<td>{{ c.comment }}</td>
		</tr>
		{% endfor %}

	</tbody>
</table>
<div class="ui modal" id="ui_modal">
	<i class="close icon"></i>
	<div class="header">
		Country code (MMSI_MID)
	</div>
	<div class="content">
		<div class="ui form">
			<div class="field">
			  <label>Enter MMSI_MID code</label>
			  <textarea id="mmsi_mid"></textarea>
			</div>
		  </div>
	</div>
	<button id="save" class="ui positive right labeled icon button" data-dismiss="modal">
		Insert MSSI_MID code
		<i class="plus icon"></i>
	</button>
</div>
  {% endblock %}
