{%extends "layout.html" %}

{% block content %}
<script>
	$(document).ready(function()
	{
		setInterval(function() {update_page();}, 10000);
		$("#add_mmsi_mid").click(function() {$('#ui_modal').modal('show');});
		$("#save").click(function(){
			let mmsi_mid = $("#mmsi_mid").val();
			let mmsi_mid_list = mmsi_mid.split("\n");
			for (var i = 0; i < mmsi_mid_list.length;  ++i)
			{
				$.ajax(
				{
					url: "/country",
					type: "POST",
					contentType: "application/json",
					data:  JSON.stringify({"symbol": mmsi_mid_list[i]}),
					dataType: "json"
				})
			}
			$('#ui_modal').modal('dispose');
		});
	});
	function update_page()
	{
		$.ajax(
			{
				url: "/table",
				type: "GET",
				data:  {"timestamp": Date.now()},
				success: function(data, status)
				{
					document.getElementById("country_table").innerHTML = data
				}
			})
	}
</script>
<div class="ui form">
	<div class="grouped fields">
		<label>Select time period:</label>
	  	<div class="field">
			<div class="ui radio checkbox">
		 		 <input type="radio" name="example2" checked="checked">
		 		 <label>Last 15 min</label>
			</div>
		</div>
	  	<div class="field">
			<div class="ui radio checkbox">
				<input type="radio" name="example2">
				<label>Last hour</label>
			</div>
		</div>
		<div class="field">
			<div class="ui radio checkbox">
				<input type="radio" name="example2">
				<label>Last day</label>
			</div>
		</div>
		<div class="field">
			<div class="ui radio checkbox">
				<input type="radio" name="example2">
				<label>Last week</label>
			</div>
		</div>
	</div>
</div>
<div id="country_table">
	{% include "table.html" %}
</div>
{% endblock %}
