<table class="ui celled inverted blue table">
	<thead>
		<tr style="text-align: center;" ><th colspan="3">
			Vessels (with AIS sender) in Turku harbour area.
		</th>
		<tr>
			<th><a style="color: white;" href="https://en.wikipedia.org/wiki/Maritime_identification_digits" target="_blank">MID code (MMSI)</a></th>
			<th>Country</th>
			<th>Comments</th>
		</tr>
	</thead>
	<tbody>
		{% for c in country %}
		<tr>
			<td>{{ c.mmsi_mid }}</td>
			<td>{{ c.country }}</td>
			<td>{{ c.comment }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
